{% extends 'base.html.twig' %}

{% block title %}Modifier environnement{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier environnement</h1>
    <div class="col-4">

        {{ include('environment/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>

{% endblock %}
