{% extends 'base.html.twig' %}

{% block title %}Ajouter environnement{% endblock %}

{% block body %}
    <h1 class="mt-4">Ajouter environnement</h1>
    <div class="col-4">
        {{ include('environment/_form.html.twig') }}
    </div>

{% endblock %}
