{% extends 'base.html.twig' %}

{% block title %}Modifier mustache{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier mustache</h1>
    <div class="col-4">

        {{ include('mustache/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>


{% endblock %}
