{% extends 'base.html.twig' %}

{% block title %}Ajouter mustache{% endblock %}

{% block body %}
    <h1 class="mt-4">Ajouter mustache</h1>
    <div class="col-4">
        {{ include('mustache/_form.html.twig') }}
    </div>
{% endblock %}
